body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-bottom: 0px;
  padding: 10px 0px;
  background-color: black;
  width: 100%;
}

#title {
  margin: 90px 0 90px 0;
}

.container {
  flex: 1;
  padding-bottom: 100px;
}
