/* body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
} */

.container {
  padding-bottom: 100px;
}

/* main {
  flex: 1;
} */

footer {
  /* margin-top: 100px; */
  margin-bottom: 0px;
  padding: 10px 0px;
  background-color: black;
  /* bottom: 0px; */
  width: 100%;
}
